.header {
  height: 37vw;
  margin: 30px auto;
  background: url("/p2.png") no-repeat;
  background-size: cover;
  position: relative;
}
.headercontents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}
.headercontents h2 {
  font-weight: 500;
  color: #fff;
  font-size: max(4.5vw, 22px);
}
.headercontents p {
  color: #fff;
  font-size: 1vw;
}
.headercontents button {
  border: none;
  color: #fff;
  font-style: 500;

  padding: 1vw 2.3vw;
  background-color: rgb(69, 147, 69);
  font-size: max(1vw, 13px);
  border-radius: 15px;
}
@media (max-width: 1050px) {
  .headercontents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .headercontents {
    max-width: 65%;
  }
  .headercontents p {
    display: none;
  }
  .headercontents button {
    padding: 2vw 4vw;
  }
}
