.Loginpopup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.Loginpopupcontainer {
  place-self: center;
  width: max(23vw, 330px);
  color: brown;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.Loginpopuptitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.Loginpopuptitle img {
  width: 16px;
  height: 20px;
  cursor: pointer;
}
.Loginpopupinput {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Loginpopupinput input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.Loginpopupcontainer button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: rgb(69, 147, 69);
  font-size: 15px;
  cursor: pointer;
}
.Loginpopupcondition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}
.Loginpopupcondition input {
  margin-top: 5px;
}
.Loginpopup p span {
  color: rgb(69, 147, 69);
  font-weight: 500;
  cursor: pointer;
}
